<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <img src="{{ site.baseurl }}/public/img/logo.png">
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
     <a class="sidebar-nav-item" href="https://github.com/metahunch/metahunch.github.io">Github</a>
  </nav>

  <div class="sidebar-item">
    <p>
      Last update: {{ site.time | date: "%d/%m/%Y" }}
    </p>
  </div>
</div>
